
<h1>Believe It Or Not I'm On Air</h1>
<!-- add this new code above the @tasks.each loop -->
<div>
  <h3>Filter tasks:</h3>
  <%= form_tag("/tasks", method: "get") do %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), include_blank: true %>
    <%= select_tag "date", options_for_select(["Today", "Old News"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<!-- end new code -->
<% @tasks.each do |task| %>
  <div>
    <%= task.name %> - - <%= last_updated task %> %>
  </div>
<% end %
  #-- change the name to a link -->>
  <h3>by: <%= link_to task.user.name, user_tasks_path(task.user) %></h3>
   <h2><%= task.name %></h2>
 
  <!-- change the name to a link -->
  <h3>by: <%= link_to task.user.name, user_tasks_path(task.user) %></h3>
  <p><%= task.description %></p>