<h1><%= @task.name %></h1>
<p>by <%= link_to @task.user.name, user_path(@task.user) if @task.user %> (<%= link_to "Edit Post", edit_user_task_path(@task.user, @task) if @task.user %>)</p>
<p>Last updated:<%= last_updated @task %></p>

<h2><%= @user.name %></h2>
<%= link_to "New Task", new_user_task_path(@user) %>
 
<p>Tasks:</p>
<% @user.tasks.each do |task| %>
  <div><%= task.name %></div>
<% end %>

<p>Orders:</p>
  <% @task.orders.each do |order| %>
    <%= link_to order.site.name, site_path(order.site) %>
  <% end %>
</p>
