<%= render "layouts/errors", :object => @order %>  
<%= form_for @order, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :site_id %> 
    <%= f.label :task %><br>
    <%= f.fields_for :task do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Task.all, :id, :name %><br>
     <% end %>
     <%= f.label :frequency %><br>
     <%= f.fields_for :frequencie do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Frequencie.all, :id, :frequency %><br>
     <% end %>
     <%= f.label :deadline %><br>
     <%= f.fields_for :deadline do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Deadline.all, :id, :deadline %><br>
     <% end %>
     <%= f.label :status %><br>
     <%= f.fields_for :statuse do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Statuse.all, :id, :status %><br>
     <% end %>
     <%=f.label :comment %><br>   
    <%= f.fields_for :comments, @order.comments do |c| %>
        <%# binding.pry %>
           <%= c.text_field :comment %><br>
     <% end %><br>
     <%# binding.pry %>
     <p><%= f.submit "Edit or Create Order"%></p><br>
<% end %>

<%#= f.select :task, ['task1', 'task2'] %>
    <%#= f.select :deadline, ['deadline1', 'deadline2'] %>
    <%#= f.select :frequency, ['freqs1', 'freqs2'] %>
    <%# binding.pry %>
    <%#b/c string value of comments during update, this field'll not appear in order#update call%>