    <%= form_for @order do |f| %>
    <div>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :site_id %>
    </div>
    <div class="field">
      <%= f.label :task %><br>
      <%= f.select :task, ['task1', 'task2'] %><br>
    </div>
    <div class="field">
      <%= f.label :frequency %><br>
      <%= f.select :frequency, ['freqs1', 'freqs2'] %><br>
    </div>
    <div class="field">
      <%= f.label :deadline %><br>
      <%= f.select :deadline, ['deadline1', 'deadline2'] %><br>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, ['status1', 'status2'] %><br>
    </div>
     <%# binding.pry %>
    <%#b/c string value of comments during update as opposed to hash during create
    , this field'll not appear in order#update call, unless @order.comments.build is called%>
            <%#= f.label :comment_names, "list-associated-task-tags (space separated)" %><br />
            <%#= f.text_field :comment_names%>
    <div class="field">
  <%= f.fields_for :comments, @order.comments.build do |comments_fields|%>
  <%= comments_fields.label :comment %><br>
  <%= comments_fields.text_field :comment %><br>
  <%= comments_fields.label :comment_is_related_to_which_task? %><br>
  <%= comments_fields.text_field :task %><br>
  <% end %>
    </div>
  <%#= f.file_field :attachment, @order.attachments.build do |ff| %>
  <%#= ff.file_field :file, as: :file, label: "File##{ff.index + 1}" %>
  <%#= ff.file_field :file_cache, as: :hidden %>
  <%# end %>
    <div class="field">
      <li><%=f.label :attachment %></li>
      <li><%=f.file_field :attachment%></li>
      <%=f.hidden_field :attachment_cache %>
    </div>
  <%= f.submit %>
  <% end %>
