<h1> edit order </h1>
<%= render "layouts/errors", :object => @order %>
    
<%= form_for @order, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :site_id %> 
    <%= f.label :task %><br>
    <%= f.select :task, ['task1', 'task2'] %>
     <%= f.label :frequency %><br>
     <%= f.select :frequency, ['freqs1', 'freqs2'] %>
     <%= f.label :deadline %><br>
     <%= f.select :deadline, ['deadline1', 'deadline2'] %>
     <%= f.label :status %><br>
    <%= f.label :comment %><br>
    <%= f.fields_for :comments, @order.comments.build do |c| %>
       <% binding.pry%>
            <% c.text_fields: :comments %>
        <% end %>
<%= f.submit "Update" %>
<% end %>