<h1> edit order </h1>
<%= render "layouts/errors", :object => @order %>
    
<%= form_for @order, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :site_id %> 
    <%= f.label :task %><br>
    <%= f.fields_for :task do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Task.all, :id, :name %><br>
     <% end %>
     <%= f.label :frequency %><br>
     <%= f.fields_for :frequencie do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Frequencie.all, :id, :frequency %><br>
     <% end %>
     <%= f.label :deadline %><br>
     <%= f.fields_for :deadline do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Deadline.all, :id, :deadline %><br>
     <% end %>
     <%= f.label :status %><br>
     <%= f.fields_for :statuse do |c| %>
        <%# binding.pry %>
           <%= c.collection_select :id, Statuse.all, :id, :status %><br>
     <% end %>
    <%# during edit call, must call .build, for the form text field to show up %>
    <%#= f.fields_for :comments do |comment_fields| %>
    <%#     Delete: <%= comment_fields.check_box :_destroy %>
    <%# end %>
    <%= f.label :comment %><br>
    <%= f.fields_for :comments, @order.comments.build do |c| %>
        <% binding.pry %>
           <%= c.text_field :comment %><br>
     <% end %><br>
     <% binding.pry %>
     <p><%= f.submit "Edit or Create Order"%></p><br>
<% end %>

