<!DOCTYPE html>
<html>
<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
</head>
<body>
<table id="t01" style="width:20%">
<style type="text/css">
   table {
    overflow:scroll;
}
   tr    { page-break-inside:avoid; page-break-after:auto }
</style>
  <tr>
    <th>Task</th>
    <th>Frequency</th> 
    <th>Site Name</th>
    <th>Comment</th>
    <th>edit order</th>
  </tr>
  <tr><% @orders.each do |order| %></tr>
    <td><%= order.task %></td>
    <td><%= order.frequency %></td>
    <%# binding.pry  %>
        <% if order.site != nil %>
            <td><%= order.site.name %></td>
        <% else %>
            <td><%= "'no site selected'" %></td>
        <% end %></td>
    <%# binding.pry %>
        <% if order.comments.present? %>
            <% order.comments.each do |comment| %>
                    <td><%= comment.comment %></td>
                <% end %>
                <%# binding.pry %>
        <% else %>
                    <td><%= 'no comment' %></td>
        <% end %>
        <% binding.pry %>
        <td><%= link_to 'edit order', edit_site_order_url(order.site, order), method: :edit %>
    <% end %>
  </table>
</body>
</html>

