<p><% @order.comments.each do |comment| %></p>
<h4><%= "order's comment: '#{comment.comment}'" %></h4>
<% end %>
<% @orderid = @order.id%>
<p><%= "#{@orderid}"%>
<p> 
<%= link_to "Edit Existing or Create Order", edit_site_order_path(@order) %>|
<%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete%>|
<%= link_to "View All", orders_path %>
</p>

