<% binding.pry %>
<h4><%= "order's comment:  #{@order.comments.last.comment}" %></h4>
<h4><%= "order's task: #{@order.task}" %></h4>
<% @orderid = @order.id%>
<p><%= "order ID:#{@orderid}"%></p>
<% binding.pry %>
    <% if @order.attachment.present? %>
        <h4>Attachment</h4>
        <div class="attachment">
        <p>
        <% binding.pry %>
        <%= link_to File.basename(@order.attachment.url),
        @order.attachment.url %>
        (<%=number_to_human_size(@order.attachment.size)%>)
        </p>
         </div>
    <% end %>
<p> 
<%= link_to "Edit Existing or Create Order", edit_site_order_path(@order) %>|</br>
<%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete%>|</br>
<%= link_to "View All", orders_path %></br>
</p>

