<h2>New Site Form</h2>
<%= form_for @site do |f|%>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
   <!-- Collection of checkboxes for equipment ids -->
<p></p>
    <div>
        <%= f.label "Select Tasks" %>
        <div>
            <p><%= f.collection_select(:task_ids, Task.all, :id, :name) %></p>
        </div>
    </div>
    <!-- 3 New Equipment Fields -->
            <%= f.fields_for :task do |task_fields| %>
                <%= task_fields.label :kname %>
                <div>
                    <%= task_fields.text_field :name %>
                </div>
            <% end %>
         <%= f.submit "Create Site" %>
<%end%>