<!DOCTYPE html>
<html>
  <head>
    <title>Sw3pOrders</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <% if current_user %>
      Logged in as <%= current_user.email %>.<br>
      <%= link_to link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> or <br>
      <%= link_to "Log In", '/login' %> or <br>
      <%= link_to link_to "Log out", logout_path, method: :delete %>
    <% end %>
    <!-- more content -->
    <%= yield %>
  </body>
</html>
